[submodule "3rd-party/yal"]
	path = 3rd-party/yal
	url = https://github.com/ArtecGroup/yal.git
[submodule "3rd-party/cotire"]
	path = 3rd-party/cotire
	url = https://github.com/sakra/cotire.git
[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = https://github.com/fmtlib/fmt
